.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.drag-n-drop {
  padding: 0.5rem;
  display: grid;
  width: 100%;
  gap: 0.5rem;
  height: 100%;
  grid-template-columns: repeat(auto-fill, 300px);
  align-items: start;
}

.dnd-group {
  background-color: #4b4e55;
  border-radius: 5px;
  padding: 0.5rem;
}

.dnd-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  background-color: white;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}

.dnd-item * {
  margin: 0;
}
.dnd-item:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

.group-title {
  text-align: left;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.current {
  background-color: #282c34;
  color: #282c34;
}

.new-group {
  background-color: #4b4e55;
  width: 300px;
  height: 53px;
  margin: 0.5rem 0 0.5rem 0.5rem;
  cursor: pointer;
  border: none;
  color: white;
}
